[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
gym = {extras = ["classic_control", "box2d", "atari"],version = "*"}
numpy = "*"
torch = "*"
tensorboard = "*"
box2d-py = "*"
ray = "*"
seaborn = "*"
nevergrad = "*"

[requires]
python_version = "3"
